body {
    font-family: monospace;
    text-align: center;
    margin: 50px;
    background-color: #212121;
    color: white;
}

/* #container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
} */

#user-data {
    color: black;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

h2 {
    margin: 10px 0;
}