body {
    font-family: monospace;
    background-color: #212121;
    color: white;
    text-align: center;
}

input {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveBtn {
    background-color: #28a745;
    color: white;
}

#clearBtn {
    background-color: #dc3545;
    color: white;
}

#output {
    margin-top: 20px;
    font-size: 1.2rem;
}